ws-stub/src/main/resources/salute.wsdl

<wsdl:definitions name="SaluteService" targetNamespace="http://incidents.learn.camel.fgt.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://incidents.learn.camel.fgt.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
  <wsdl:types> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://incidents.learn.camel.fgt.org" xmlns:tns="http://incidents.learn.camel.fgt.org" xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
    <xs:element name="saluteBean"> 
        <xs:complexType> 
            <xs:sequence> 
                <xs:element name="salute" type="xs:string" /> 
            </xs:sequence> 
        </xs:complexType> 
    </xs:element> 
    <xs:element name="sayGoodbye" type="tns:sayGoodbye" /> 
    <xs:element name="sayGoodbyeResponse" type="tns:sayGoodbyeResponse" /> 
    <xs:element name="sayHello" type="tns:sayHello" /> 
    <xs:element name="sayHelloResponse" type="tns:sayHelloResponse" /> 
    <xs:complexType name="sayHello"> 
        <xs:sequence> 
            <xs:element minOccurs="0" name="name" type="xs:string" /> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="sayHelloResponse"> 
        <xs:sequence> 
            <xs:element minOccurs="0" name="return"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element name="salute" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="sayGoodbye"> 
        <xs:sequence> 
            <xs:element minOccurs="0" name="name" type="xs:string" /> 
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="sayGoodbyeResponse"> 
        <xs:sequence> 
            <xs:element minOccurs="0" name="return"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element name="salute" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
        </xs:sequence> 
    </xs:complexType> 
</xs:schema> 
  </wsdl:types> 
  <wsdl:message name="sayGoodbyeResponse"> 
    <wsdl:part element="tns:sayGoodbyeResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="sayGoodbye"> 
    <wsdl:part element="tns:sayGoodbye" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="sayHelloResponse"> 
    <wsdl:part element="tns:sayHelloResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="sayHello"> 
    <wsdl:part element="tns:sayHello" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:portType name="salute"> 
    <wsdl:operation name="sayHello"> 
      <wsdl:input message="tns:sayHello" name="sayHello"> 
    </wsdl:input> 
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="sayGoodbye"> 
      <wsdl:input message="tns:sayGoodbye" name="sayGoodbye"> 
    </wsdl:input> 
      <wsdl:output message="tns:sayGoodbyeResponse" name="sayGoodbyeResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
  </wsdl:portType> 
  <wsdl:binding name="SaluteServiceSoapBinding" type="tns:salute"> 
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
    <wsdl:operation name="sayHello"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="sayHello"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="sayHelloResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="sayGoodbye"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="sayGoodbye"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="sayGoodbyeResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding> 
  <wsdl:service name="SaluteService"> 
    <wsdl:port binding="tns:SaluteServiceSoapBinding" name="salutePort"> 
      <soap:address location="http://localhost:8080/webservices/salute" /> 
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions>